<style>
  ng-map {width:100%; height:100%;position: absolute;}
</style>
   <div class="alert alert-info">
  Full screen google map with your location
</div>
<div ng-controller = "MapCtrl">
  <ng-map center="current-location" zoom="12"
    pan-control="true"
    pan-control-options="{position:'TOP_RIGHT'}"
    map-type-control="true"
    map-type-control-options="{style:'HORIZONTAL_BAR', position:'BOTTOM_CENTER'}"
    zoom-control="true"
    zoom-control-options="{style:'LARGE', position:'LEFT_CENTER'}"
    scale-control="true"
    street-view-control="true"
    street-view-control-options="{position:'LEFT_TOP'}"
    default-style="false">

    <custom-marker position="{{latitude}},{{longitude}}" on-click="click()">
        <div><b>Scottying..</b>
          <img src="http://icons.iconarchive.com/icons/aha-soft/transport/48/motorcyclist-icon.png" />
        </div>
        </custom-marker>
  </ng-map>
<div>
