<div class="container" ng-controller = "UserTableCtrl">

  <h2>Users Table</h2>
  <p>The table shows you all users</p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users track by $index">
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNo}}</td>
        <td>{{user.salary}}</td>
      </tr>
    </tbody>
  </table>
</div>
